Protocol/com/
Protocol/BleProxyMsg_pb2.py
Protocol/BleProxyMsg_pb2.pyc
Protocol/tmp.txt
Protocol/*.py
PC/Python/*
PC/BleProxyDesk/resource/generator/AppIcons.qrc
PC/BleProxyDesk/resource/icons/ext
PC/BleProxyDesk/debug.log
PC/BleProxyDesk/google/*.pyc
